.dropdown-item img,
.nav-link img {
    border-radius: 3px;
}


/** Quitar el 칤cono de flecha de los enlaces que no son desplegables **/

.accordion-button.no-arrow::after {
    display: none !important;
}


/* Tama침o del logo en pantallas grandes */

.logo-img {
    max-height: 80px;
    transition: all 0.3s ease;
}


/* Tama침o del logo en pantallas medianas */

@media (max-width: 992px) {
    .logo-img {
        max-height: 60px;
    }
}


/* Tama침o del logo en pantallas peque침as */

@media (max-width: 576px) {
    .logo-img {
        max-height: 50px;
    }
}


/* 游녢 Hace que los dropdowns se abran al pasar el mouse */

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* opcional: quita el salto */
}


/* 游녢 Mantiene el color activo del enlace */

.nav-item.dropdown:hover>.nav-link {
    color: #ffc107 !important;
    /* o el color que prefieras */
}

.accordion-button::after {
    filter: invert(1) brightness(200%);
}
