<nav class="navbar navbar-expand-lg navbar-dark px-5 py-2 fixed-top" style="background-color: #000000; z-index: 80;">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <!-- Logo -->
        <a class="navbar-brand m-0 d-flex align-items-center" href="#">
            <img src="img/logoUbuntu.png" alt="Ubuntu Logo" class="img-fluid logo-img" />
        </a>

        <!-- Botón hamburguesa -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
            aria-controls="staticBackdrop" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Enlaces del Navbar -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Dropdown Inicio -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="inicioDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Inicio
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="inicioDropdown">
                        <li><a class="dropdown-item" href="index.html#sobreMi">Sobre mí</a></li>
                        <li><a class="dropdown-item" href="index.html#proyectos">Proyectos Destacados</a></li>
                        <li><a class="dropdown-item" href="index.html#habilidades">Habilidades técnicas</a></li>
                        <li><a class="dropdown-item" href="servicios.html">Formación</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/contact']" class="nav-link text-white">Contáctame</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/publications']" class="nav-link text-white">Mis Publicaciones</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Offcanvas (para pantallas pequeñas) -->
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Menú</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <!-- 👇 Aquí comienza el acordeón -->
        <div class="accordion" id="offcanvasAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingInicio">
                    <button class="accordion-button collapsed text-black" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseInicio" aria-expanded="false" aria-controls="collapseInicio">
                        Inicio
                    </button>
                </h2>
                <div id="collapseInicio" class="accordion-collapse collapse" aria-labelledby="headingInicio"
                    data-bs-parent="#offcanvasAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled mb-0">
                            <li><a class="justify-text dropdown-item" href="index.html#sobreMi">Sobre mí</a></li>
                            <li><a class="dropdown-item" href="index.html#proyectos">Proyectos Destacados</a></li>
                            <li><a class="dropdown-item" href="index.html#habilidades">Habilidades técnicas</a></li>
                            <li><a class="dropdown-item" href="servicios.html">Formación</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <a class="accordion-button no-arrow collapsed text-black" href="contactame.html">
                        Contáctame
                    </a>
                </h2>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header">
                    <a class="accordion-button no-arrow collapsed text-black" href="publicaciones.html">
                        Mis Publicaciones
                    </a>
                </h2>
            </div>
        </div>
        <!-- 👆 Fin del acordeón -->
    </div>
</div>
