<app-header></app-header>
<app-custom-cursor></app-custom-cursor>
<app-social-media></app-social-media>
<app-chat-bot></app-chat-bot>


<!-- Sección: Resumen Error -->
<section id="resumenError" class="pb-5 text-center text-md-start">
    <div class="container py-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="img-container mx-auto" style="background-image: url('assets/img/ubuntuDañado.png'); background-size: cover; background-position: center; height: 350px; width: 100%; max-width: 518px; border-radius: 10px;">
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center px-4">
                <h2>ERROR <span class="text-danger">404</span></h2>
                <p class="mt-3 text-justify">
                    Seguramente te ha pasado: haces clic en un enlace y este te redirige automáticamente a una página que muestra un mensaje que dice que el contenido solicitado no está disponible, a menudo como "404 Not Found".
                </p>
                <p>
                    <b><a
              href="https://www.ionos.es/digitalguide/paginas-web/creacion-de-paginas-web/que-significa-el-error-404-not-found/"
              target="_blank" class="text-decoration-none">Presiona aquí</a></b>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Sección: Canal de YouTube -->
<section id="canalYouTube" class="py-5 text-center text-md-start bg-light">
    <div class="container py-5">
        <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row">
            <div class="col-md-6 d-flex flex-column justify-content-center px-4">
                <h2>ERROR <span class="text-danger">404</span></h2>
                <p class="mt-3 text-justify">
                    Puedes visitar mi canal de YouTube si deseas aprender temas nuevos y aprenderemos juntos, te espero.
                    <br><br>See you soon!
                </p>
                <p>
                    <b><a href="https://www.youtube.com/@deJava1703" target="_blank" class="text-decoration-none">Visitar
              canal</a></b>
                </p>
            </div>

            <div class="col-md-6 mb-4 mb-md-0 text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EVQIiRIb8HE?si=zIptkEmxXoxvDRQW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>




<app-footer></app-footer>
