<app-header></app-header>
<app-custom-cursor></app-custom-cursor>
<app-social-media></app-social-media>
<app-chat-bot></app-chat-bot>


<!-- Sección: Resumen Error -->
<section id="resumenError" class="pt-5 mt-5 text-center text-md-start">
    <div class="container py-5">
        <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row">

            <!-- 🟡 Columna del Video -->
            <div class="col-md-6 mb-4 mb-md-0 text-center">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/EVQIiRIb8HE?si=zIptkEmxXoxvDRQW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen>
          </iframe>
                </div>
            </div>

            <!-- 🟢 Columna del Texto -->
            <div class="col-md-6 d-flex flex-column justify-content-center px-4 text-center text-md-start">
                <h2>¿Cómo llegamos a crear conciencia sin alma? <span class="text-danger">| Las Revoluciones Industriales</span>
                </h2>
                <p class="mt-3 text-justify">
                    El video explora la relación entre las grandes transformaciones tecnológicas (las revoluciones industriales) y cómo estas han impactado en las personas y sociedades.
                    <br> ¡Ven y aprendamos juntos!
                    <br><br>Para más tutoriales como este, visita mi canal de YouTube
                </p>
                <p>
                    <b>
            <a href="https://www.youtube.com/@deJava1703" target="_blank" class="text-decoration-none">
              Visitar canal
            </a>
          </b>
                </p>
            </div>

        </div>
    </div>
</section>



<!-- Sección: Canal de YouTube -->
<section id="canalYouTube" class="pt-3 text-center text-md-start bg-light">
    <div class="container py-5">
        <div class="row align-items-center justify-content-center flex-column flex-md-row">

            <!-- 🟢 Columna del Texto -->
            <div class="col-md-6 d-flex flex-column justify-content-center px-4 text-center text-md-start">
                <h2>CREACION Y CONEXION A UNA VPN CON AWS <span class="text-danger">(AMAZON WEB SERVICES)</span></h2>
                <p class="mt-3 text-justify">
                    Este video explica cómo crear una VPN en AWS y cómo conectarse a ella desde tu computadora u otro entorno.
                    <br> ¡Ven y aprendamos juntos!
                    <br><br>Para más tutoriales como este, visita mi canal de YouTube
                </p>
                <p>
                    <b>
            <a href="https://www.youtube.com/@deJava1703" target="_blank" class="text-decoration-none">
              Visitar canal
            </a>
          </b>
                </p>
            </div>

            <!-- 🎥 Columna del Video -->
            <div class="col-md-6 mb-4 mb-md-0 text-center">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/6nlMLeSeNx8?si=1BzlpJjO8QseetGo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen>
          </iframe>
                </div>
            </div>

        </div>
    </div>
</section>





<app-footer></app-footer>
