.img-container {
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 100%;
    max-width: 518px;
    border-radius: 10px;
}

.ratio {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 */
}

.ratio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
